* {
    margin: 0;
    padding: 0;
}
html,body{
    height:90%;
    margin:0;
}

li{
display: inline;
left: 40%;
}

.containeradm{
    background-image: url(fonadm1.jpg);
    background-size: cover;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 51.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
	/* border-radius: 10px;
	border: 4mm ridge #0000FF; */
    box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}

.containeradm h1 {
    margin: 10px 0 10px;
    left: 25%;
   position: relative;
   margin-top: 0;
   color: rgba(255, 255, 255, .9);
   font-weight: 300;
   font-size: 26px;
   text-transform: uppercase;
}
.containeradm h1:after {
   content: "";
   position: absolute;
   left: 20%;
   bottom: -6px;
   height: 2px;
   width: 60px;
   background: #1762EE;
}

/*форма авторизации
*/
form {

  display: block;
  padding: 0px;
  width: 30em;
  height: 39.5em;
  color: #0000FF;
  margin-right: auto;
  margin-left: auto;

	text-align:left;
}

.regtext{
	font-size:19px;
	vertical-align:middle;
	 background: -webkit-linear-gradient(left, rgba(11,79,225,0.5),rgba(0,168,255,0.5) );
	border-radius: 5px;
	color:#FFF;
	margin: 3% 5%;
	text-align:center;
text-decoration: none;
    display: block;
	padding: 5px ;
    border: 1px solid #1a82ff;
    box-sizing: border-box;

}

.regtext1{
	font-size:19px;
	color:#FFF;
	margin: 3% 5%;
	text-align:center;
text-decoration: none;
}
.regtext2{
	font-size:19px;
	vertical-align:middle;
	 background: #FFF;
	border-radius: 5px;
	color: #1a82ff;
	margin: 3% 30%;
	text-align:center;
text-decoration: none;
    display: block;
	padding: 5px ;
    border: 1px solid #1a82ff;
    box-sizing: border-box;

}
.regtext2:hover{
	color:#fff;
	background:#1a82ff;
}
