.exer  {
font-size: 14px;
text-align: center;
border-collapse: collapse;
border-radius: 10px;
 border-radius: 20px;
 box-shadow: 0 0 0 15px #0470d0;
color: #072178;
font-weight: bold;
position: absolute;
top: 55%;
left: 51%;
margin-right: -50%;
transform: translate(-51%, -2%);
}


.exer a{
	background: #afd3fe;
	padding: 6px;
	border-radius: 10px;
	text-decoration: none;
	color: #0470d0;
font-weight: bold;
}
.exer a:hover{
	background: #6fb7ed;
	padding: 6px;
	border-radius: 10px;
	text-decoration: none;
	color: #072178;
font-weight: bold;
}
.exer th {
padding: 10px 8px;
background: white;
}
.exer table th:first-child {
border-top-left-radius: 20px;
}
.exer table th:last-child {
border-top-right-radius: 20px;
}
.exer td {
border-top: 10px solid #0470d0;
padding: 8px;
background: white;
border-radius:10px;
}
.exer table td:first-child {
border-bottom-left-radius: 20px;
}
.exer table td:last-child {
border-bottom-right-radius: 20px;
}
.formredact1 {
	border-radius: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #50aafb;
	width: 19em;
	height: 6em;
	box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}
.redact1, .redact2,.redact3,.redact4,.redact5, .redact6 {
	position: absolute;
	top: 10%;
	left: 9%;
	color: #fff;
}
/*кнопка */
.redact1  input[type=submit] {
	margin: 8% 30% auto;
	display: block;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    background: #1a82ff;
  background: linear-gradient(0deg, #004ba6 0%, #1a82ff 100%);
  border: none;
}
.redact1  input[type=submit]:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
.redact1  input[type=text] {
	border: 1px solid #0470d0;
	background: white;
	border-radius:10px;
}

.formredact2 {
	border-radius: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #50aafb;
	width: 22em;
	height: 13em;
	box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}
.redact2  input[type=text] {
	border: 1px solid #0470d0;
	background: white;
	border-radius:10px;
}
/*кнопка */
.redact2  input[type=submit] {
	margin: 8% 32% auto;
	display: block;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    background: #1a82ff;
  background: linear-gradient(0deg, #004ba6 0%, #1a82ff 100%);
  border: none;
}
.redact2  input[type=submit]:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}




.formredact3 {
	border-radius: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #50aafb;
	width: 28em;
	height: 12em;
	box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}
.redact3  input[type=text] {
	border: 1px solid #0470d0;
	background: white;
	border-radius:10px;
}
/*кнопка */
.redact3  input[type=submit] {
	margin: 8% 33% auto;
	display: block;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    background: #1a82ff;
  background: linear-gradient(0deg, #004ba6 0%, #1a82ff 100%);
  border: none;
}
.redact3  input[type=submit]:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}




.formredact4 {
	border-radius: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #50aafb;
	width: 22em;
	height: 8em;
	box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}
.redact4  input[type=text] {
	border: 1px solid #0470d0;
	background: white;
	border-radius:10px;
}
/*кнопка */
.redact4  input[type=submit] {
	margin: 8% 33% auto;
	display: block;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    background: #1a82ff;
  background: linear-gradient(0deg, #004ba6 0%, #1a82ff 100%);
  border: none;
}
.redact4  input[type=submit]:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}



.formredact5 {
	border-radius: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #50aafb;
	width: 19em;
	height: 14em;
	box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}
.redact5  input[type=text] {
	border: 1px solid #0470d0;
	background: white;
	border-radius:10px;
}
/*кнопка */
.redact5  input[type=submit] {
	margin: 8% 30% auto;
	display: block;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  /* padding: 10px 25px; */
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    background: #1a82ff;
  background: linear-gradient(0deg, #004ba6 0%, #1a82ff 100%);
  border: none;
}
.redact5 input[type=submit]:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}




.formredact6 {
	border-radius: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background: #50aafb;
	width: 28em;
	height: 12em;
	box-shadow: 12px 12px 9px 1px rgba(135, 155,210, 0.35);
}
.redact6  input[type=text] {
	border: 1px solid #0470d0;
	background: white;
	border-radius:10px;
}
/*кнопка */
.redact6  input[type=submit] {
	margin: 8% 35% auto;
	display: block;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    background: #1a82ff;
  background: linear-gradient(0deg, #004ba6 0%, #1a82ff 100%);
  border: none;
}
.redact6  input[type=submit]:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
